<div *ngIf="item" class="item-container">
	<div class="item-tab-menu">
		<span (click)="onItemDetailEdit(item)">Edit</span>
		<span class="selected">View</span>
	</div>
	<div class="item-details">
		<div class="mode">Display Mode</div>
		<h2>{{ item.Title }}</h2>
		<p>{{ item.Description }}
	</div>
</div>
<p-growl [value]="messages"></p-growl>
<p-messages [value]="messages"></p-messages>
<p-tabView *ngIf="item" (onChange)="onTabChanged($event)">
	<p-tabPanel header="View" [selected]="true">
		<div class="mode">Display Mode</div>
		<h2>{{ item.Title }}</h2>
		<p>{{ item.Description }}
	</p-tabPanel>
	<p-tabPanel header="Edit">
		<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
			<p-panel header="{{item.Title}} Editing...">
				<div class="ui-grid ui-grid-pad">
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">Title *:</div>
						<div class="ui-grid-col-6">
							<input type="text" formControlName="title" [(ngModel)]="item.Title" pInputText />
						</div>
						<div class="ui-grid-col-4">
							<div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['title'].valid && userform.controls['title'].dirty">
								<i class="fa fa-close"></i> Title is required
							</div>
						</div>
					</div>
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">Description *:</div>
						<div class="ui-grid-col-6">
							<textarea type="text" formControlName="desc" [(ngModel)]="item.Description" pInputTextarea></textarea>
						</div>
					</div>
				</div>
			</p-panel>
		</form>
	</p-tabPanel>
</p-tabView>